.aboutMe {
  min-height: 840px;
  padding: 100px 0 0 0;
  &__grid-container {
    width: 100%;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr 70px 2fr 100px;
    grid-template-rows: 80px minmax(125px, auto) minmax(290px, auto) 1fr;
    grid-row-gap: 20px;
    grid-template-areas: 
    "photo . titleRow ." 
    "photo . descr ."
    "photo . skills ."
    "photo . . .";
  }
  &__grid-title-row {
    grid-area: titleRow;
  }
  &__photo {
    grid-area: photo;
  }
  &__title {
    line-height: normal;
  }
  &__title_fz16 {
    line-height: normal;
  }
  &__subtitle {
    grid-area: subtitle;
  }
  &__descr {
    grid-area: descr;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
  &__skills {
    grid-area: skills;
    display: grid;
    grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 260px);
    grid-auto-rows: 1fr;
    gap: 20px 50px;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    row-gap: 6px;
  }
  &__item-img {
    width: 25px;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    z-index: 2;
    @include before_circle;
    &::before {
      top: -9%;
      left: -24%;
    }
  }
  &__item-descr {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
  &__item-title {
    justify-self: start;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
  }
}